[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

dj-database-url = "*"
django = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
requests = "*"
django-rest-framework = "*"
djoser = "*"
django-filter = "*"
markdown = "*"
coreapi = "*"
django-cors-headers = "*"
django-rq = "*"

[requires]

python_version = "3.6"
